<section class="dataset">
    <h2>CADOT Dataset Structure</h2>
    <p>
      The CADOT dataset is organized into three subsets: <strong>train</strong>, <strong>validation</strong>, and <strong>test</strong>. 
      Each contains images, and both training and validation folders include COCO-style annotation files.
      You can download the dataset <a href="https://www-l2ti.univ-paris13.fr/iriser/dashboard/pages/CADOT_Dataset.zip">here</a>
    </p>
  
    <div class="dataset-image">
      <img src="/images/cadot.png" alt="CADOT dataset directory structure">
    </div>
    <!-- <pre><code>
        CADOT/
        ├── train/
        │   ├── _annotations.coco.json
        │   ├── image1.jpg
        │   └── image2.jpg
        ├── test/
        │   ├── image1.jpg
        │   └── image2.jpg
        └── validation/
            ├── _annotations.coco.json
            ├── image1.jpg
            └── image2.jpg
        </code></pre> -->
  </section>