<section class="overview">
  <h2>OVERVIEW</h2>
  <p>
    This challenge calls on participants to design or apply cutting-edge
    learning-based object detection techniques tailored to optical remote
    sensing images. At its core is a novel, meticulously annotated dataset
    centered on one of the departments of Paris region, featuring 14 distinct
    object categories.
  </p>
  <p>
    The high-resolution raw images from which we built
    <strong>CADOT</strong> (Cityscape Aerial image Dataset for Object
    deTection) are those provided by the
    <a href="https://www.ign.fr/institut/identity-card" target="_blank"
      >National Institute of Geographic and Forest Information (IGN)</a
    >, a public administrative establishment in France under the joint
    authority of the ministries responsible for ecology and forests. This
    dataset is specifically designed to address the complexities of dense urban
    environments, where high object density and unique urban characteristics
    present significant detection challenges.
  </p>
  <p>
    Participants will develop and evaluate advanced object detection
    algorithms, and are encouraged to explore generative AI for data
    augmentation.
  </p>
</section>
<section class="significance">
  <h2>SIGNIFICANCE OF THE CHALLENGE</h2>
  <p>
    <strong
      >This challenge addresses key gaps in current remote sensing object
      detection research, such as:</strong
    >
  </p>

  <p>
    <strong>• Addressing a Real-World Problem:</strong> Urban areas are rapidly
    evolving, and accurate object detection in remote sensing imagery is
    crucial for urban planning, infrastructure monitoring, disaster management,
    and environmental analysis.
  </p>

  <p>
    <strong>• Novel and Challenging Dataset:</strong> The dataset's focus on
    dense urban environments with specific urban features sets it apart from
    existing datasets, providing a unique and challenging benchmark. This
    dataset will drive research towards more robust object detection algorithms
    capable of handling complex urban scenes.
  </p>

  <p>
    <strong>• Advancing Generative AI for Data Augmentation:</strong>
    Encouraging the use of generative AI for data augmentation promotes the
    exploration of cutting-edge techniques in computer vision. This challenge
    will contribute to the development of more effective and efficient data
    augmentation strategies, particularly in the context of limited labeled
    data.
  </p>
  <p>
    By addressing these issues, this competition aims to advance Object
    Detection techniques, promoting better performance in densely populated and
    visually complex urban settings.
  </p>
</section>
