  <!-- <section class="banner">
    <div class="banner-left">
      <h2>CADOT Grand Challenge ICIP 2025</h2>
      <p>
        This challenge calls on participants to apply advanced object detection techniques tailored to dense urban aerial imagery...
      </p>
    </div>
    <div class="banner-right">
      <img src="/images/ICIP_logo.png" alt="ICIP 2025 Logo" />
    </div>
  </section> -->
  
  
  <section class="overview">
    <h2>OVERVIEW</h2>
    <p>
      This challenge calls on participants to design or apply cutting-edge learning-based object detection techniques tailored to optical remote sensing images. At its core is a novel, meticulously annotated dataset centered on one of the departments of Paris region, featuring 14 distinct object categories.
    </p>
    <p>
      The high-resolution raw images from which we built <strong>CADOT</strong> (Cityscape Aerial image Dataset for Object deTection) are those provided by the <a href="https://www.ign.fr/institut/identity-card" target="_blank">National Institute of Geographic and Forest Information (IGN)</a>, a public administrative establishment in France under the joint authority of the ministries responsible for ecology and forests.
    </p>
  </section>