<section class="prizes">
  <h2>Sponsors</h2>
  <div class="sponsors-grid">
    <div class="sponsors">
      <img src="/images/cose.png" alt="COSE" />
    </div>
    <div class="sponsors">
        <img src="/images/labcom_iriser.png" alt="LabCom"/>
      </div>
  </div>
  <h2>Prizes</h2>
  <p>
    The two winning teams will have the opportunity to present their work in a dedicated session at the ICIP 2025 conference.
    Each winning team will also receive a certificate of achievement and the following prizes:
  </p>
  <div class="prizes-table-wrapper">
    <table class="prizes-table">
      <thead>
        <tr>
          <th>Ranking</th>
          <th>Prizes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1st</td>
          <td></td>
        </tr>
        <tr>
          <td>2nd</td>
          <td></td>
        </tr>
        <!-- <tr>
          <td>3rd</td>
          <td></td>
        </tr> -->
      </tbody>
    </table>
</section>
