<section class="results">
  <h2>Ranking</h2>
  <p>
    Welcome to the CADOT Challenge ranking page! Here, you can find the latest
    updates on the performance of various models on our dataset. We are excited
    to share the results of the challenge and showcase the advancements in
    object detection technology.
  </p>
  <p>Stay tuned for more updates!</p>
  <h2>Our Baseline Performance</h2>
  <p>
    To establish a clear benchmark for participants, we defined baseline
    performance using four state-of-the-art object detection models: YOLOv11,
    YOLOv12, Faster R-CNN, and DiffusionDet. For each model, we detail the
    experimental settings and configurations that were used to obtain the
    reported results, ensuring transparency and reproducibility.
  </p>
  <h3>YOLOv11/YOLOv12</h3>
  <p>
    For YOLOv11 and YOLOv12, we adopted the default training settings as
    specified in
    <a href="https://arxiv.org/pdf/2502.12524" target="_blank"
      >their respective publications</a
    >. Both models are trained using a learning rate of 0.01 with the SGD
    optimizer, incorporating a momentum of 0.937 and a weight decay of 0.0005
    to mitigate overfitting. Training is conducted over 300 epochs with a batch
    size of 16.
  </p>
  <h3>Faster R-CNN</h3>
  <p>
    we used the official implementation from
    <a href="https://arxiv.org/pdf/1506.01497" target="_blank"
      >Faster R-CNN paper</a
    >
    using a VGG-16 backbone. The model is trained with the SGD optimizer, a
    learning rate of 0.005, a momentum of 0.9, and a weight decay of 0.0001. To
    improve robustness, we incorporate multi-scale training and applied
    standard data augmentations such as horizontal flipping and random
    cropping. All remaining hyperparameters follow the default settings
    provided in the Fast R-CNN paper.
  </p>
  <h3>DiffusionDet</h3>
  <p>
    For
    <a href="https://arxiv.org/pdf/2211.09788" target="_blank">DiffusionDet</a
    >, we used the Swin Transformer as the backbone architecture. The model is
    optimized using AdamW with a base learning rate of 2.5×10⁻⁵ and a weight
    decay of 1×10⁻⁴. Training is performed over 450,000 iterations. We applied
    the default data augmentation strategies, including RandomFlip,
    RandomResizedCrop, and RandomCrop.
  </p>
  <div class="results-container">
    <h2>Model Performance Comparison (mAP@50)</h2>
    <table class="results-table">
      <thead>
        <tr>
          <th>Class</th>
          <th colspan="2">YOLOv11</th>
          <th colspan="2">YOLOv12</th>
          <th colspan="2">Faster R-CNN</th>
          <th colspan="2">DiffusionDet</th>
        </tr>
        <tr>
          <th></th>
          <th>val</th>
          <th>test</th>
          <th>val</th>
          <th>test</th>
          <th>val</th>
          <th>test</th>
          <th>val</th>
          <th>test</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Basketball Field</td>
          <td>52</td>
          <td>2</td>
          <td>38</td>
          <td>32</td>
          <td>0</td>
          <td>0</td>
          <td>24.55</td>
          <td>61.81</td>
        </tr>
        <tr>
          <td>Building</td>
          <td>82</td>
          <td>83</td>
          <td>81</td>
          <td>82</td>
          <td>76.79</td>
          <td>73.26</td>
          <td>75.84</td>
          <td>76.64</td>
        </tr>
        <tr>
          <td>Crosswalk</td>
          <td>92</td>
          <td>94</td>
          <td>91</td>
          <td>90</td>
          <td>70.50</td>
          <td>72.02</td>
          <td>86.06</td>
          <td>86.17</td>
        </tr>
        <tr>
          <td>Football Field</td>
          <td>80</td>
          <td>38</td>
          <td>30</td>
          <td>30</td>
          <td>67.18</td>
          <td>35.28</td>
          <td>58.13</td>
          <td>42.52</td>
        </tr>
        <tr>
          <td>Graveyard</td>
          <td>53</td>
          <td>18</td>
          <td>62</td>
          <td>58</td>
          <td>34.17</td>
          <td>35.84</td>
          <td>70.23</td>
          <td>61.42</td>
        </tr>
        <tr>
          <td>Large Vehicle</td>
          <td>52</td>
          <td>63</td>
          <td>57</td>
          <td>58</td>
          <td>37.05</td>
          <td>45.85</td>
          <td>86.14</td>
          <td>86.20</td>
        </tr>
        <tr>
          <td>Medium Vehicle</td>
          <td>73</td>
          <td>75</td>
          <td>75</td>
          <td>70</td>
          <td>28.64</td>
          <td>37.26</td>
          <td>52.98</td>
          <td>40.59</td>
        </tr>
        <tr>
          <td>Playground</td>
          <td>15</td>
          <td>19</td>
          <td>12</td>
          <td>34</td>
          <td>3.32</td>
          <td>0</td>
          <td>53.26</td>
          <td>58.19</td>
        </tr>
        <tr>
          <td>Roundabout</td>
          <td>43</td>
          <td>33</td>
          <td>29</td>
          <td>37</td>
          <td>23.03</td>
          <td>27.27</td>
          <td>0.40</td>
          <td>17.02</td>
        </tr>
        <tr>
          <td>Ship</td>
          <td>81</td>
          <td>83</td>
          <td>71</td>
          <td>73</td>
          <td>29.71</td>
          <td>45.31</td>
          <td>52.42</td>
          <td>52.85</td>
        </tr>
        <tr>
          <td>Small Vehicle</td>
          <td>91</td>
          <td>91</td>
          <td>91</td>
          <td>91</td>
          <td>15.05</td>
          <td>22.90</td>
          <td>74.65</td>
          <td>70.27</td>
        </tr>
        <tr>
          <td>Swimming Pool</td>
          <td>46</td>
          <td>53</td>
          <td>69</td>
          <td>45</td>
          <td>1.56</td>
          <td>13.64</td>
          <td>26.68</td>
          <td>40.59</td>
        </tr>
        <tr>
          <td>Tennis Court</td>
          <td>73</td>
          <td>78</td>
          <td>52</td>
          <td>68</td>
          <td>58.18</td>
          <td>44.69</td>
          <td>34.39</td>
          <td>46.94</td>
        </tr>
        <tr>
          <td>Train</td>
          <td>31</td>
          <td>50</td>
          <td>17</td>
          <td>59</td>
          <td>29.21</td>
          <td>29.14</td>
          <td>32.52</td>
          <td>65.91</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>mean Average Precision</th>
          <th>62</th>
          <th>56</th>
          <th>56</th>
          <th>59</th>
          <th>33.88</th>
          <th>34.46</th>
          <th>52.76</th>
          <th>58.43</th>
        </tr>
      </tfoot>
    </table>
  </div>
</section>
