<section class="team">
    <h2>Meet the Team</h2>
    <div class="team-grid">
      <div class="team-member">
        <img src="/images/Duc.png" alt="Team Member 1">
        <h4>Minh-Duc VU</h4>
      </div>
      <div class="team-member">
        <img src="/images/Bouzid.png" alt="Team Member 2">
        <h4>Bouzid AREZKI</h4>
      </div>
      <div class="team-member">
        <img src="/images/Hicham.png" alt="Team Member 3">
        <h4>Hicham TALAOUBRID</h4>
      </div>
      <div class="team-member">
        <img src="/images/Fangchen.png" alt="Team Member 4">
        <h4>Fangchen FENG</h4>
      </div>
      <div class="team-member">
        <img src="/images/Anissa.png" alt="Team Member 5">
        <h4>Anissa MOKRAOUI</h4>
      </div>
    </div>
  </section>
  