<section class="timeline">
    <h2>Challenge Timeline</h2>
    <div class="timeline-table-wrapper">
      <table class="timeline-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Milestone</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>03/04/2025</td>
            <td>Open registration (Team members name, Organization, Email-Address)</td>
          </tr>
          <tr>
            <td>03/04/2025</td>
            <td>Availability of the CADOT dataset split</td>
          </tr>
          <tr>
            <td>11/05/2025</td>
            <td>Submission deadline of the training and inferencing scripts and models for evaluation</td>
          </tr>
          <tr>
            <td>16/05/2025</td>
            <td>Announcement of the winner</td>
          </tr>
          <tr>
            <td>28/05/2025</td>
            <td>Submission deadline of the paper to ICIP 2025</td>
          </tr>
          <tr>
            <td>ICIP 2025</td>
            <td>A dedicated session at ICIP: Announcement of the Challenge results</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  